.formInputNewHabit {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.inputNewHabit {
  outline: none;
  border: 2px solid #9daeeb;
  background-color: transparent;
  padding: 10px;
  color: #1f2937;
  border-radius: 10px;
}

.btnInputNewHabit {
  border: none;
  background-color: transparent;
  color: #9daeeb;
  font-size: 32px;
  padding: 0;
}

.btnAddHabit {
  border: none;
  background-color: #9daeeb;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.btnAddHabit:hover {
  background-color: #808dbe;
}
